<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>IoT Monitor Current State</title>

   <!-- the following are need for DataTables -->
   {% load staticfiles %}
   <link rel="stylesheet" type="text/css" href="{% static 'iotmonui/datatables/datatables.min.css' %}" />
   <script type="text/javascript" src="{% static 'iotmonui/datatables/datatables.min.js' %}"></script>

<script>
$(document).ready(function() {
   var table = $('.datatable').DataTable( {
      responsive: true,
      select: true,
      paging: false,
      dom: 'ilfrtBip',
      columnDefs: [
         { responsivePriority: 1, targets: 0 },
         { responsivePriority: 2, targets: 2 },
      ],
      "order": [],
      buttons: [ 'copy', 'excel' ]
   } );
   new $.fn.dataTable.FixedHeader( table );
} );
</script>

<style>
   .stateUP      {color:green;}
   .statePENDING {color:blue;}
   .stateDOWN    {color:red;}
</style>

</head>
<body>

<h3>IoT Monitor - Current Device State</h3>

{% if rows %}
   <table class="datatable display compact nowrap" cellspacing="0" width="100%">

   <thead>
   <tr><th>Descr</th><th>IPAddr</th><th>State</th><th>LastStateChange</th><th>SuppressCount</th><th>CurrentSuppressCount</th></tr>
   </thead>

   <tbody>
   {% for row in rows %}
      <tr class={{ row.StateStyle }}><td>{{ row.Descr }}</td><td>{{ row.IPAddr }}</td><td>{{ row.State }}</td><td>{{ row.LastStateChange }}</td><td>{{ row.SuppressCount }}</td><td>{{ row.CurrentSuppressCount }}</td></tr>
   {% endfor %}
   </tbody>

   </table>
{% else %}
    <p>No devices are being monitored.</p>
{% endif %}

<p><a href="{% url 'iotmonui:log' %}">View Log</a></p>

</body>
</html>
