<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>IoT Monitor Current State</title>
</head>
<body>

<h3>IoT Monitor - Current Device State</h3>

{% if rows %}
   <table>
   <tr><th>IPAddr</th><th>Descr</th><th>State</th><th>LastStateChange</th><th>SuppressCount</th><th>CurrentSuppressCount</th></tr>

   {% for row in rows %}
      <tr><td>{{ row.IPAddr }}</td><td>{{ row.Descr }}</td><td>{{ row.State }}</td><td>{{ row.LastStateChange }}</td><td>{{ row.SuppressCount }}</td><td>{{ row.CurrentSuppressCount }}</td></tr>
   {% endfor %}

   </table>
{% else %}
    <p>No devices are being monitored.</p>
{% endif %}

<p><a href="/iotmon/log">View Log</a></p>

</body>
</html>
