<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>IoT Monitor Log</title>

   <!-- the following are need for DataTables -->
   {% load staticfiles %}
   <link rel="stylesheet" type="text/css" href="{% static 'iotmonui/datatables/datatables.min.css' %}" />
   <script type="text/javascript" src="{% static 'iotmonui/datatables/datatables.min.js' %}"></script>

<script>
$(document).ready(function() {
   var table = $('.datatable').DataTable( {
      responsive: true,
      select: true,
      paging: false,
      dom: 'ilfrtBip',
      "order": [],
      buttons: [ 'copy', 'excel' ]
   } );
   new $.fn.dataTable.FixedHeader( table );
} );
</script>

<style>
   .stateUP      {color:green;}
   .statePENDING {color:blue;}
   .stateDOWN    {color:red;}
</style>

</head>
<body>

<h3>IoT Monitor - Device Monitoring Log</h3>

{% if rows %}
   <table class="datatable display compact nowrap" cellspacing="0" width="100%">

   <thead>
   <tr><th>LogDate</th><th>IPAddr</th><th>Descr</th><th>PreviousState</th><th>CurrentState</th></tr>
   </thead>

   <tbody>
   {% for row in rows %}
      <tr class={{ row.StateStyle }}><td>{{ row.LogDate }}</td><td>{{ row.IPAddr }}</td><td>{{ row.Descr }}</td><td>{{ row.PreviousState }}</td><td>{{ row.CurrentState }}</td></tr>
   {% endfor %}
   </tbody>

   </table>
{% else %}
    <p>No device log records.</p>
{% endif %}

<p><a href="{% url 'iotmonui:index' %}">Back</a></p>

</body>
</html>
